.app-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.side-bar {
    width: 22%;
    border-right: 1px solid #D9DBE9;
}

.logo {
    width: 70%;
    margin: auto;
    padding-top: 1.5rem;
    cursor: pointer;
}

.logo > h1 {
    font-size: 30px;
    font-weight: 700;
    color: #14142B;
}

.logo > h1 span {
    color: #1D9BF0;
}

.navigation {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    gap: 20px;
}


/* .nav-links {
    width: 70%;
    margin: auto;
    
} */

.nav-container > span:nth-child(1) {
    margin-bottom: 35px;
}

/* .nav-container > span > i {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    color: #0000006E;
} */



.link {
    font-weight: 700;
    text-decoration: none;
    display: block;
    font-size: 19px;
    transition: .4s linear;
    color: #14142B;
    border-left: 5px solid transparent;
}

.active {
    border-left: 5px solid #1D9BF0;
}

/* active links */
/* .navigation > span > a > span > i{
    background: #1D9BF0;
    color: #fff;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    transition: .4s linear;
}  */

.navigation > span > a > span {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navigation > span > a > span > i {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    color: #0000006E;
}

@media screen and (max-width: 760px) {
    .side-bar {
        width: 38%;
    }
}

@media screen and (max-width: 760px) {
    .side-bar {
        width: 45%;
    }
}