.general-result {
    width: 75%;
    margin-top: 6rem;
}

.general-result > h1 {
    color: #14142B;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    gap: 1rem;
}

.general-profile{
    width: 23%;
    border-radius: 6px;
    padding: 10px;
    background-color: #fff;
}

.profile-container {
    position: relative;
}

.fav {
    position: absolute;
    right: 8px;
    top: 8px;
    background: #BBBBBB;
    color: #fff;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30%;
}

.bg-img {
    width: 100%;
    height: 125px;
    object-fit: cover;
    border-radius: 6px;
}

p > span {
    content: "\20A6";
}

.profile {
    width: 100%;
    padding: 7px;
    margin-top: 10px;
}

.profile > h5 {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
}

.input-details > p:nth-child(1) {
    color: rgba(0, 0, 0, 0.49);
    font-size: 13px;
}

.input-details > p:nth-child(2) {
    color: #1D9BF0;
    font-weight: 600;
    cursor: pointer;
}

.display-pic {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 56px;
}

.input-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 968px) {
    .general-profile {
        width: 31%;
    }
}

@media screen and (max-width: 760px) {
    .general-profile {
        width: 47%;
    }
}

@media screen and (max-width: 608px) {
    .general-profile {
        width: 95%;
    }
}

@media screen and (max-width: 486px) {
    .logo > h1 {
        font-size: 22px;
    }

    .navigation > span > a > span {
        font-size: 13px;
        width: 88%;
        gap: 5px;
    }

    .logo {
        width: 88%;
    }
}